/* 
colors:
#021859-navy
#074DD9-light navy
#0F88F2-blue
#1DCBF2-light blue
#0D0D0D-black

*/

.container {
    width: 80vw;
    margin: 40px auto;
  }

  html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
    
  body{
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
     background-color: #0D0D0D; 
     color: #fff; 
  }
  
  /* header */
  #logo {
    width: 300px; 
    height: auto; 
    margin-right: auto; 
  }
  
  header.primary {
    background-color: transparent;
    color: #fff; /* header text color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: fixed;  
  }
  
  .navigation {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .navigation li a {
    color: #fff;
    text-decoration: none;
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    transition: all 0.3s ease-in-out;
  }
  
  .navigation li a::before {
    content: '';
    background: #fff;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .navigation li a:hover {
    background-position: 0;
  }
  
  .navigation li a:hover::before {
    width: 100%;
  }
  
  .full-width-image {
    width: 100%;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  figcaption{
    text-transform:uppercase;
    color:#c0c0c0;
    font-size:rem;
    margin: 25px auto;
    padding: 10px;
  }

  #crewdragon{
    display: block;
    margin: 25px 0;
    padding: 0;
    width: 100%; 
    height: auto;

    }

#crewdragon-faq,#crewdragonhp,#crew-about{
  width: 100vw;
      height: 100vh;
      display: block;
      margin: auto;
}

.contact {
  background-color: transparent; 
  color: #fff; 
  padding: 40px;
  margin: 40px auto;
}

.contact h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 1.5;
}

.contact ul {
  list-style: none;
  padding: 0;
}

.contact li {
  margin: 10px 0;
  font-size: 16px;
}

.contact li a {
  color: #fff;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2; 
}

.modal-content {
  background-color: #333;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* about*/
/* form {
  margin: 20px 0;
}

form label {
  display: block;
  font-size: 18px;
  margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #fff; 
  border-radius: 5px;
  background-color: #0D0D0D; 
  color: #fff;
  font-size: 16px;
}

form textarea {
  height: 150px;
}

form button {
  background-color: #fff; 
  color: #0D0D0D;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #1DCBF2; 
} */


#wufoo-z13my2ky1lo27hk{
  width: 100%;
  padding: 10px;
  margin: auto;
  border: 1px solid #fff; 
  border-radius: 5px;
  background-color: #0D0D0D; 
  color: #fff;
  font-size: 16px;

}





#return,#crew,#dlab,#dragon-iss{
  width: 800px;
  height: auto;
  display: block;
  margin: auto;
}

  h1 {
    font-size: 36px;
    margin: 20px;
  }
  
  /* style headings and subheadings */
  h2 {
    font-size: 24px;
    margin: 20px 0;
  }
  
  h3 {
    font-size: 20px;
    margin: 15px 0;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    margin: 15px 10px;
  }
  
  /* style lists */
 
  .container ul {
    list-style: disc;
    padding-left: 20px;
  }
  
  .container li {
    margin: 5px 0;
  }
  
  footer {
    background-color: #0D0D0D; 
    color: #fff; 
    padding: 10px;
    text-align: center;
  }
  
  .menu-icon {
    display: none; /* hide the hamburger */
    cursor: pointer;
  }
  
  .bar {
    background: #fff;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
  }
  
  summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
  }
  
  details[open] {
    padding: 0.5em;
  }
  
  details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
  }


  /* scroll button */
  @import url(https://fonts.googleapis.com/css2?family=Space+Mono&display=swap);

#section01 {
  position: relative;
  width: 100%;
  height: 100%;
}
#section01::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 20px;
  height: auto;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

.scroll a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 1;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition:.3s;
}
.scroll a:hover {
  opacity: .75;
  color: #0D0D0D;
}



#section01 a {
  padding-top: 35px;
  
}
#section01 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}




/* small screens */

@media screen and (max-width: 790px) {
    
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-icon #menu-button {
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #1f1f1f;
    color: #fff;
    cursor: pointer;
  }

  .navigation {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #1f1f1f;
  }

  .navigation li {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
  .navigation li a {
    display: block;
  }
  h1 {
    margin: auto 15px;
  }
  
  
  h2 {
    font-size: 24px;
    margin: auto;
  }
  
  h3 {
    font-size: 20px;
    margin: 15px 0;
  }
  
  
  p {
    font-size: 0.8rem;
    line-height: 1.5;
    margin: auto;
  }

  figcaption{
    text-transform:uppercase;
    color:#c0c0c0;
    font-size:0.9rem;
    margin: 10px 10px;
  }

  #crewdragon-faq,#crewdragonhp,#crew-about{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

  #return,#crew,#dlab,#dragon-iss{
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
  }
  
 
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .navigation {
    display: none;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #1f1f1f;
  }

  
  .navigation li {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
  .navigation li a {
    display: block;
  }

  
  #menu-button {
    display: block;
    text-align: center;
    padding: 10px 0;
    background: #1f1f1f;
    color: #fff;
    cursor: pointer;
  }

  #logo {
    width: 150px; 
    height: auto; 
    margin-right: auto; 
  }

  #section01 a span {
   width: 10px;
   height: 10px;
  }

  .scroll {
    display: none;
  }

}